body {
	background-color: green; 
}

#meny {
	display: block; 
	margin: 0 auto; 

}


a {
	color: black;
	font-size: 20px; 
	font-family: sans-serif;
}

h1 {
	font-size: 70px;
	font-family: sans-serif;
	color: black; 
	text-align:center;
	padding-bottom: 50px; 
}

h2 {
 	text-align: center; 
 	color: black;
 	font-size: 36px; 
 	padding-top: 20px;
 	padding-bottom: 30px; 
}

.text {
	font-size: 18px; 
	color: black; 
	font-family: sans-serif;
	text-align: center; 

}

.storbild {
	display: block; 
	margin: 0 auto; 
    padding: 50px 0px 50px 0px; 
	width: 600px;
}

.scratch {
	display: block; 
	margin: 0 auto;
	width: 600px;



}

ul {
	display: block; 
	list-style-type: none; 
	margin: 0 auto; 
	padding: 0; 
	overflow: hidden; 
	background-color: purple;
}

li {
	float:left; 

}

li a {
	
	width: 325px; 
	display: block;
    color: black; 
    text-align: center;
    padding: 25px 8px 25px 8px;
    text-decoration: none;
    font-size: 24px; 
	


}

li a:hover {
	background-color: white;
	text-decoration: none; 
	color: black; 
	font-size: 24px; 

}

#bilen { 
 	display: block; 
	margin-left: 100px; 
	width: 200px;

  }
  #biffen { 
 	display: block; 
	margin-left: 350px;  
	margin-top: -200px;
	width: 200px;

  }
  #bostaden { 
 	display: block; 
	margin-left: 600px;  
	margin-top: -200px; 
	width: 200px;

  }
  #börsen { 
 	display: block; 
	margin-left: 850px;  
	margin-top: -200px; 
	width: 200px;

  }
  #butiken { 
 	display: block; 
	margin-left: 1100px;  
	margin-top: -200px; 
	width: 200px;

  }
